/* Inter font */
@import url('https://rsms.me/inter/inter.css');

html,
body {
  height: 100%;
}

body {
  font-family: 'Inter', sans-serif;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #000000;
  padding: 2px 6px;
  text-align: left;
}
th {
  background-color: #ddd;
  text-align: center;
}

input[type='number'] {
  width: 46px;
}

tr {
  td {
    &.id {
      &.FH {
        background-color: #5f915e;
      }
      &.LH {
        background-color: #dea94d;
      }
      &.SL,
      &.SU {
        background-color: #b56862;
      }
    }

    &.dest {
      &.CME {
        background-color: #686868;
      }
      &.CMS {
        background-color: #4d544d;
      }
      &.CP {
        background-color: #583c3b;
      }
      &.CS {
        background-color: #98adc2;
      }
      &.CW {
        background-color: #a6a6a6;
      }
      &.FF {
        background-color: #77a5e1;
      }
      &.FM {
        background-color: #dea94d;
      }
      &.FRC {
        background-color: #90b568;
      }
      &.FRS {
        background-color: #5f915e;
      }
      &.GF {
        background-color: #c87ea1;
      }
      &.HB {
        background-color: #806b92;
      }
      &.IME {
        background-color: #b66963;
      }
      &.IMW {
        background-color: #995846;
      }
      &.MB {
        background-color: #988b5e;
      }
      &.MF {
        background-color: #db8759;
      }
      &.OR {
        background-color: #945477;
      }
      &.OWC {
        background-color: #545861;
      }
      &.OWN {
        background-color: #615d54;
      }
      &.SM {
        background-color: #7b8294;
      }
      &.SW {
        background-color: #cba787;
      }
    }

    select,
    input,
    button {
      background-color: #e9e9ed99;
      border: 1px solid #8f8f9d99;
      border-radius: 4px;
      padding: 1.5px 5px;
    }
  }
}
